body{
background-color:#f6f6f6;
width:100%;
}
header{
	background-color:white;
	width:1100px;
	height:80px;
	margin-left:120px;
}
#logo{
	padding-top:10px;
	cursor:pointer;
}
a{
	float:right;
	font-size:14px;
	margin-right:15px;
	color:grey;
	padding-top:5px;
}
.div{
	background-color:white;
	width:1100px;
	margin-left:120px;
	min-height:700px;
}



p{
	padding-top:15px;
	padding-left:35px;
	color:red;
	font-size:20px;
}

.banner{
	width:99%;
	color:#00a8e6;
	height:23px;
	background-color:#e6e7e8;
	border-bottom-color:#00a8e6;
	border-bottom-width:medium;
	border-top-color:#00a8e6;
	border-top-width:medium;
	padding-left: 10px;
	padding-top:3px;
}

.tags{
		list-style-type:none;
		color:#598090;
		font-family: Verdana, Arial;
		font-size: 12px;
		font-weight: bold;
		width:30%;
		display:inline-block;
		margin-top:5px;
		
}

ul.tags li{
	margin-top:25px;
	
}

.inputs{
	
	list-style-type:none;
	width:60%;
	border-color:#00a8e6;
	border-width:thick;
	display:inline-block;
}

ul.inputs li{
	margin-top:18px;
}

ul#experience li{
	display:inline;
	color:grey;
}
.btn{
	margin-left:375px;
	cursor:pointer;
}

ul.fresher li{
	list-style-type:none;
	display:inline;
}
.inputList {
	display:inline-block;
}
ul.inputList li{
	list-style-type:none;
	margin-top:5px;
}
ul.skills li{
	display:inline;
}
#div1, #div2, #div3{
	border-bottom-color:black;
	border-style:solid;
	border-width:medium;
	display:none;
}

#popUp{
text-align:center;
height:200px;
width:500px;
background-color:#00a8e6;
margin-top:100px;
margin-left:350px;
position:absolute;
bottom:150px;
z-index:2;
display:none;
}
#reset{
	
}

footer{
color:red;
text-align:center;
font-size:14px;
position:relative;
right:30px;

}

.mandatory{
color:red;
}
.msg{
color:red;
font-size:14px;
}

#captcha{
	margin-left:200px;
	margin-top:40px;
	
}
.ddl{
	width:150px;
}

.myNewClassSwaraj {
	color:red;
}