 body{
	   width:100%;
	   }
		#topDiv{
            width:100%; 
            height:110px;
            background-color:#303030; 
            margin-left:-8px;
            margin-right:initial;
            margin-top:-10px;
        }
        .company_logo{
            width:200px;
            height:80px;
            text-decoration:none;
            margin-left:100px;
            padding-left:100px;
			padding-top:20px;
			background:transparent;
        }
		ul#topList li{
			list-style-type:none;
            position:relative;
			top:-130px;
			left:600px;
			display:inline-block;
			padding:10px;
			padding-top:50px;
			cursor:pointer;
		}
		
		ul#topList li a : hover{
		display:block;
		}
       
        ul#topList li a {
            
            text-decoration:none;
            color:#AAA;
			font-family:HelveticaNeueLTStd77BdCn;
			font-size:12px;
			cursor:pointer;
        }
		
	#search{
		text-decoration:none;
		color:#AAA; font-family:HelveticaNeueLTStd77BdCn; 
		font-size:12px;
	}
	#div2{
		background-color:transparent;
		height:35px;
		width:860px;
		margin-top:-16px;
		margin-left:530px;
		z-index:2;
		position:relative;
		bottom:32px;
	}	
	ul#navBar
	{
        padding: 0;
        list-style: none;
        background:transparent;
		float:right;
		width:90%;
    }
    ul#navBar li{
        display: inline-block;
        position: relative;
        line-height: 21px;
        text-align: left;
		font-size:14px;
    }
    ul#navBar li a{
        display: block;
        padding: 8px 5px;
        color:#AAA;
        text-decoration: none;
		font-weight:bold;
		font-size:12px;
    }
    ul#navBar li a:hover{
        color:white;
        background:transparent;
    }
	
    ul#navBar li ul.dropdown{
        min-width: 100%; / Set width of the dropdown /
        background:green;
        display: none;
        position: absolute;
        z-index: 999;
		margin:0;
        left: 0;
    }
    ul#navBar li:hover ul.dropdown{
        display: block; / Display the dropdown /
		width:100%;
		background-color:#303030;
		text-align:left;
    }
    ul#navBar li ul.dropdown li{
        display: block;
		border-bottom:dotted;
		border-bottom-width:thin;
		border-bottom-color:white;
		text-align:center;
		width:100%;
    }
	ul#navBar li ul.dropdown li a{
	text-align:left;
	font-size:11px;
	}
	
	.dropdown-content{
		 display: none;
         position: absolute;
		 background-color: red;
         min-width: 100%;
		 text-align:left;
		}
	div.div2{
		background-color:white;
		text-align:center;
		position:absolute;
		left:390px;
		float:center;
		font-size:20px;
		font-weight:bold;
		height:60px;
		color:black;
		}
		
		
		#heading{
		font-weight:bold;
		font-variant:capitalize;
		color:black;
		font-size:34px;
		text-align:center;
		position:relative;
		left:35px;
		}
		
		section{
		margin-left:200px;
		margin-right:200px;
		text-align:justify;
		font-size:18px;
		bottom:-40px;
		position:relative;
		bottom:15px;
		}
		
		p{
			font-size:18px;
		}
		
	.big{
		font-size:20px;		
		text-align:center;
		}
		
		img{
			cursor:pointer;
		}
		
		u{
			color:red;
		}
		
		
		#innerMenu{
		display:none;
		position:relative;
		}
		
		#innerMenu hover{
		display:block;
		}
		
		
		#innerDiv{
		display:none;
		position:relative;
		width:160px;
		right:192px;
		top:56px;
		}
		
		#innerDiv  hover{
		display:block;
		}
		
		#table1{
		border-bottom-style:solid; 
		border-bottom-color:black; 
		border-bottom-width:thin; 
		border-top-style: solid; 
		border-top-color:black; 
		border-top-width:thin;
		text-align:center;
		width:70%;
		margin-left:200px;
		height:35px;
		}
		
		.table2{
		text-align:center;
		width:70%;
		margin-left:170px;
		}
		
		ul.table2 li{
			list-style-type:none;
			color:red;
			display:inline-block;
			
		}
		
		#marquee1{
		direction:right;
		color:red;
		
		}
		
		#awards{
			text-align:center;
			color:white;
			font-weight:bold;
			font-size:14px;
			padding-top:20px;
		}
		#BottomDiv{
		text-align:center;
		margin-left:-30px;
		position:relative;
		top:30px;
		background-color:white;
		height:200px;
		}
		
		
		.bottomList{
			padding-top:20px;
			display: inline-block;
			margin-left:10px;
		}
		
		ul.bottomList li{
			list-style-type:none;
			cursor:pointer;
			font-size:14px;
			font-weight:normal;
		}
		
		#sidelist{
			text-align:right;
		}